* {
    margin = 0px;
    padding: 0px;
}

body {
    background-color: black;
}

body #input-container {
    background-color: #fff;
    width: 250px;
    text-align: center;
    padding: 15px 10px;
    font-weight: bold;
    margin: 100px auto;
    border-radius: 5px;
}
