* {
    margin: 0px;
    padding: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.container #count {
    font-size: 80px;
}

.buttons button {
    padding: 8px;
}