* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;

}

.container {
    background-color: #ffffff;
    width: 300px;
    height: 250px;
    margin: 50px auto;
    padding: 25px;
}

.container #calculate {
    padding: 20px;
}

.inputs input{
    padding: 10px;
 
}

.container .buttons {
    margin-top: 10px;
}

.container .buttons input {
    padding: 10px;
}